.main {
  flex: 1; padding: var(--sp-4) var(--sp-4); overflow-y: auto;
  background: linear-gradient(180deg, #ffffff 0%, var(--c-bg) 56%, var(--c-bg-alt) 100%);
  max-width: var(--content-max-w); width: 100%;
  @include mobile { padding: var(--sp-4); }
}
